<%= render "shared/header" %>
<p class="dai"><検索ページ></p>
<p class="to_top"><%= link_to 'トップページへ戻る', root_path%></p>

<div class='item-contents3' id="detailed-search-result-wrapper">
  
  <div class="seaech2">
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
     <div class="search-field3">
      <%= f.label :name_cont, '<商品名>' %>
      <br>
       <%= f.text_field :name, placeholder: '商品名', value: params[:q]&.dig(:name) %>
    </div>
    <div class="search-field3">
      <%= f.label :category_id_in, '<カテゴリ>' %>
      <br>
      <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name) %>
    </div>
    <div class="search-field3">
      <%= f.label :price_gteq, '<価格>'%>
      <br>
      <%= f.number_field :price_gteq %> 円以上
      <br>
      <%= f.number_field :price_lteq %> 円以下
    </div>
    <div class="search-field3">
      <%= f.label :user_nickname_cont, '<出品者名>' %>
      <%= f.text_field :user_nickname_cont, placeholder: '出品者名' %>
    
    <%= f.submit '検索' ,class:"button10"%>
    </div>
  <% end %>
  </div>

  
  <ul class='item-lists3' id="detailed-search-result">
    <% @items.each do |item| %>
      <li class='list3'>
        <div class="posted-content3">
          <%= image_tag item.image,class:"image-width" %><br>
          <%= item.name%><br>
          <%= link_to '詳細', item_path(item.id)%>
        </div>
      </li>
    <% end %>
  </ul>
  
</div>